@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.input--wrapper {
  position: relative;
  clip-path: polygon(0% 0%, calc(100% - 10px) 0%, 100% 10px, 100% 100%, 10px 100%, 0% calc(100% - 10px));
  input {
    width: 100%;
    padding: 14px;
    font-family: $spaceGroteskFont;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: $black;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    &::placeholder {
      color: rgba(32, 38, 59, 0.4);
    }
  }
}
