// Colors
$white: #ffffff;
$black: #000000;

// Fonts
$spaceGroteskFont: 'Space Grotesk', sans-serif;
$orbitronFont: 'Orbitron', sans-serif;

// Mobile devices
$screen-xs-max: 480px;

// iPads, Tablets
$screen-sm-max: 768px;

// Small screens, laptops
$screen-md-max: 1024px;

// Desktops, large screens
$screen-lg-max: 1200px;
