@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

button {
  position: relative;
  font-family: $spaceGroteskFont;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 11px;
  &.primary {
    border-radius: 3px 15px;
    background: linear-gradient(180deg, #bceb00 0%, #00eaea 100%), linear-gradient(360deg, #0d5cb6 0%, #138ded 110.94%);
    color: $black;
    font-size: 18px;
    padding: 11px;
    &:hover {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
        linear-gradient(180deg, #bceb00 0%, #00eaea 100%), linear-gradient(360deg, #0d5cb6 0%, #138ded 110.94%);
    }
  }
  &.secondary {
    background-image: linear-gradient(170deg, #bceb00 15.57%, #00eaea 84.88%);
    background-origin: border-box;
    box-shadow: 2px 1000px 1px #13254d inset;
    border: solid transparent;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-right-width: 0;
    color: $white;
    font-size: 14px;
    padding: 11px 5px;
    min-height: 47px;
  }
  &.hide--text--on--mobile {
    span {
      @include sm {
        display: none;
      }
    }
    img.icon {
      @include sm {
        margin-right: 0px!important;
      }
    }
  }
  img.icon {
    &.show--on--mobile--only {
      display: none;
      @include sm {
        display: block;
      }
    }
    margin-right: 11px;
  }
  .left--shape {
    position: absolute;
    left: -12px;
    top: -1px;
    min-height: 47px;
  }
  .right--shape {
    position: absolute;
    right: -12px;
    top: -1px;
    min-height: 47px;
  }
}
