@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.button--wrapper {
  position: relative;
  button {
    position: relative;
    font-family: $spaceGroteskFont;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 12px 24px;
    border-radius: 3px 14px;
    clip-path: polygon(0% 0%, calc(100% - 12px) 0%, 100% 12px, 100% 100%, 12px 100%, 0% calc(100% - 12px));
    &.primary {
      background: linear-gradient(180deg, #bceb00 0%, #00eaea 100%),
        linear-gradient(360deg, #0d5cb6 0%, #138ded 110.94%);
      color: $black;
      font-size: 18px;
      &:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
          linear-gradient(180deg, #bceb00 0%, #00eaea 100%), linear-gradient(360deg, #0d5cb6 0%, #138ded 110.94%);
      }
    }
    &.secondary {
      background: #13254d;
      color: $white;
      font-size: 14px;
    }
    &.hide--text--on--mobile {
      @include sm {
        padding: 10px 12px;
      }
      span {
        @include sm {
          display: none;
        }
      }
      img.icon {
        @include sm {
          margin-right: 0px !important;
        }
      }
    }
    img.icon {
      &.show--on--mobile--only {
        display: none;
        @include sm {
          display: block;
        }
      }
      margin-right: 11px;
    }
  }
  .primary-box-shadow {
    position: absolute;
    left: -1.5px;
    top: -1.5px;
    min-height: calc(100% + 3px);
    min-width: calc(100% + 3px);
    clip-path: polygon(0% 0%, calc(100% - 10px) 0%, 100% 10px, 100% 100%, 10px 100%, 0% calc(100% - 10px));
    border-radius: 3px 13px;
    background: linear-gradient(180deg, #bceb00 0%, #00eaea 100%), linear-gradient(360deg, #0d5cb6 0%, #138ded 110.94%);
    &.opacity {
      opacity: 0.2;
    }
  }
}
