@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.choose__fighter {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 20px;
  gap: 100px;
  background-image: url('../../../assets/images/landingPage/battleground-bg3.png');
  background-repeat: no-repeat;
  background-size: cover;

  .fighter__div {
    display: flex;
    align-items: center;
    flex-direction: column;

    .eth__bid {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $black;
      padding: 8px 27px;
      width: fit-content;
      height: 30px;
      clip-path: polygon(0% 50%, 15px 0%, calc(100% - 15px) 0%, 100% 50%, calc(100% - 15px) 100%, 15px 100%);
      span {
        font-family: $orbitronFont;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 120%;
        color: $white;

        img {
          height: 14px;
          margin-right: 2px;
        }
      }
    }
    .fighter__header {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 29px;
      width: 100%;

      .left--div {
        background: rgba(255, 255, 255, 0.4);
        max-width: 239px;
        width: 100%;
        height: 17px;
        margin-top: 16px;
        clip-path: polygon(17px 0%, 100% 0%, calc(100% - 2px) 2px, 25px 2px, 10px 100%, 0% 100%);
      }
      .right--div {
        background: rgba(255, 255, 255, 0.4);
        max-width: 239px;
        width: 100%;
        height: 17px;
        margin-top: 16px;
        clip-path: polygon(
          0% 0%,
          calc(100% - 17px) 0%,
          100% 100%,
          calc(100% - 10px) 100%,
          calc(100% - 25px) 2px,
          2px 2px
        );
      }

      h1 {
        font-family: $orbitronFont;
        font-weight: 800;
        font-size: 26px;
        line-height: 110%;
        text-transform: uppercase;
        color: $white;
        margin: 11px 8px 8px;
        text-align: center;
        white-space: nowrap;
      }
      @include md {
        padding: 0%;
      }
    }
    .fighter__total {
      font-family: $orbitronFont;
      font-weight: bold;
      font-style: normal;
      font-size: 10px;
      line-height: 110%;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.8);
      margin: 0%;
    }
    .fighter__slider {
      max-width: 760px;
      width: 100%;
      height: 400px;
      margin-top: 35px;

      img {
        width: 400px;
        height: 400px;
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
        border-radius: 4px;

        @include md {
          width: 330px;
          height: 330px;
        }
        @include sm {
          width: 230px;
          height: 230px;
        }
      }
      @include md {
        height: 330px;
      }
      @include sm {
        height: 230px;
        margin-bottom: -60px;
      }
    }
    .fighter__buttons {
      display: grid;
      grid-template-columns: auto auto;
      gap: 22px;
      margin-top: 51px;

      @include lg {
        display: none;
      }
    }
  }
  .fighter__buttons__tablet {
    display: none;
    @include lg {
      display: flex;
      justify-content: center;
      gap: 22px;
    }
    @include sm {
      display: none;
    }
  }
  .fighter__buttons__mobile {
    display: none;
    @include sm {
      position: fixed;
      display: grid;
      background: linear-gradient(360deg, rgba(23, 39, 76, 0.5) 41%, rgba(23, 39, 76, 0) 335.5%);
      border-top: 1px solid rgba($color: #4fc0f8, $alpha: 0.6);
      backdrop-filter: blur(20px);
      grid-template-columns: 1fr 1fr;
      gap: 22px;
      padding: 21px;
      width: 100%;
      left: 0;
      bottom: 0px;
      z-index: 9;
      .attack__button__wrapper {
        width: 100%;
      }
      .defence__button__wrapper {
        width: 100%;
      }
    }
  }
  .attack__button__wrapper {
    width: 190px;
    height: 60px;
    box-shadow: 0px 10px 40px rgba(8, 99, 179, 0.4);
    border-radius: 15px;
    .primary__box__shadow {
      background: #4fc1fa;
      padding: 1px;
      clip-path: polygon(0% 0%, calc(100% - 8px) 0%, 100% 8px, 100% 100%, 8px 100%, 0% calc(100% - 8px));
      border-radius: 4px 9px;
      height: 100%;
      button {
        background: linear-gradient(359.97deg, #0d5cb6 0.03%, #2fa4ff 99.98%);
        font-family: $orbitronFont;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 23px;
        color: $white;
        clip-path: polygon(0% 0%, calc(100% - 11px) 0%, 100% 11px, 100% 100%, 11px 100%, 0% calc(100% - 11px));
        border-radius: 4px;
        width: 100%;
        height: 100%;
      }
    }
  }
  .defence__button__wrapper {
    width: 190px;
    height: 60px;
    box-shadow: 0px 10px 40px rgba(8, 99, 179, 0.4);
    border-radius: 15px;
    .primary__box__shadow {
      background: #62fca5;
      padding: 1px;
      border-radius: 9px 4px;
      height: 100%;
      clip-path: polygon(8px 0%, 100% 0%, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0% 100%, 0% 8px);

      button {
        background: linear-gradient(180deg, #41e181 0%, #1b9955 100%);
        font-family: $orbitronFont;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 23px;
        color: $white;
        border-radius: 4px;
        width: 100%;
        height: 100%;
        clip-path: polygon(11px 0%, 100% 0%, 100% calc(100% - 11px), calc(100% - 11px) 100%, 0% 100%, 0% 11px);
      }
    }
  }

  @include lg {
    grid-template-columns: 1fr;
    padding: 46px 60px 60px;
    gap: 80px;
  }
  @include sm {
    padding: 30px 20px;
    gap: 30px;
    min-height: calc(100% + 60px);
  }
}
