@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.rarity--rank--descriptions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 17px;
  .rarity--description--gradient {
    position: relative;
    z-index: 110;
    .rarity--description {
      z-index: 100;
    }
    .rarity--rank--border {
      position: absolute;
      width: calc(100% + 2px);
      min-height: 58px;
      background: linear-gradient(90deg, #c857ca 50%, #fb8c00 50%);
      left: -1px;
      right: 0px;
      top: -1px;
      bottom: -1px;
      margin: auto;
      border-radius: 12px;
      opacity: 0.4;
    }
  }
  .selected--blue {
    background: rgba(30, 136, 229, 0.05) !important;
    border: 1px solid #1e88e5 !important;
  }
  .selected--pink {
    background: rgba(200, 87, 202, 0.1) !important;
    border: 1px solid #c857ca !important;
  }
  .selected--orange {
    background: rgba(251, 140, 0, 0.05) !important;
    border: 1px solid #fb8c00 !important;
  }
  .selected--pink--orange {
    background: linear-gradient(90deg, rgba(200, 87, 202, 0.2) 50%, rgba(251, 140, 0, 0.2) 50%) !important;
  }
  .rarity--description {
    position: relative;
    background: rgba(0, 0, 0, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

    .matching {
      img {
        position: absolute;
        top: -15px;
        right: -15px;
        cursor: pointer;
      }
      .tooltiptext {
        visibility: hidden;
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        background-color: $white;
        color: $black;
        text-align: center;
        border-radius: 100px;
        padding: 4px 12px;
        position: absolute;
        z-index: 1111;
        top: -48px;
        right: -54px;
        &::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: $white transparent transparent transparent;
          @include lg {
            left: 84%;
          }
        }
        @include lg {
          right: -15px;
        }
      }
      &:hover {
        .tooltiptext {
          visibility: visible;
        }
      }
    }

    h4 {
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 160%;
      text-align: center;
      text-transform: uppercase;
      color: $white;
      margin: 0;
      // margin-bottom: 3px;

      @include lg {
        font-weight: normal;
      }
    }
    h3 {
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 130%;
      color: $white;
      margin: 3px 0;

      @include lg {
        font-size: 12px;
      }
      @include md {
        font-size: 14px;
      }
    }
    .description {
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 160%;
      color: rgba(255, 255, 255, 0.4);
      margin: 0;
    }
    @include lg {
      padding: 13px 5px;
    }
  }
  @include lg {
    gap: 14px;
  }

  @include md {
    grid-template-columns: repeat(4, 1fr);
  }
  @include sm {
    grid-template-columns: repeat(2, 1fr);
  }
}
