@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.fight__history {
  margin-bottom: 70px;
  h2 {
    font-family: $orbitronFont;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: $white;
    margin: 0% 0% 20px 30px;
  }
  table {
    thead {
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: 500;
      font-size: 8px;
      line-height: 10px;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.4);
      text-align: left;

      th {
        padding-bottom: 12px;
      }
      :last-child {
        text-align: right;
      }
      .win-lose {
        display: flex;
        justify-content: center;
      }
    }
    tbody {
      position: relative;
      .line {
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 1px;
        background: rgba(255, 255, 255, 0.1);
      }
      tr {
        cursor: pointer;
        td {
          padding: 8px 0;
          &.opponent {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: $white;
          }
          &.win__loss {
            font-family: $orbitronFont;
            font-style: normal;
            font-weight: 900;
            font-size: 10px;
            line-height: 13px;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            .win {
              width: fit-content;
              padding: 3px 8px;
              background: linear-gradient(180deg, rgba(78, 217, 142, 0.2) 0%, rgba(69, 218, 129, 0.2) 100%);
              color: #11ff9b;
              border-radius: 2px;
            }
            .lose {
              width: fit-content;
              padding: 3px 8px;
              color: #ff447c;
              background: linear-gradient(180deg, rgba(254, 88, 149, 0.2) 0%, rgba(161, 24, 70, 0.2) 100%);
              border-radius: 2px;
            }
          }
          &.wager__amount {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: $white;
            text-align: right;
          }
        }
        &:hover {
          background: rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
  @include lg {
    margin: 30px 0;
  }
  @include sm {
    margin: 0 0 70px;
  }
}
