@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.victory--page {
  height: calc(100vh - 70px);
  position: relative;
  background-image: url("../../assets/images/victoryLosePage/victory-page-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 70px 60px;
  h1 {
    margin: 0;
  }
  .victory--bg--effect {
    background: radial-gradient(50% 50% at 50% 50%, #29756c 0%, #121a33 100%);
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  .victory--page--header {
    position: relative;
    background-image: url("../../assets/images/victoryLosePage/victory-title-bg.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    z-index: 1;
    padding: 0 50px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    .title {
      font-family: $orbitronFont;
      font-style: normal;
      font-weight: 800;
      font-size: 46px;
      line-height: 58px;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #ffffff;
      text-shadow: 0px 0px 40px #00fff0;
      @include sm {
        font-size: 26px;
        line-height: 33px;
      }
    }
    @include md {
      background-image: url("../../assets/images/victoryLosePage/victory-title-tablet-bg.png");
    }
    @include xs {
      background-image: url("../../assets/images/victoryLosePage/victory-title-mobile-bg.png");
      min-height: 72px;
      background-size: contain;
      padding: 0;
    }
  }
  .victory--page--cards--section {
    z-index: 1;
    display: grid;
    grid-template-columns: 480px 480px;
    justify-content: center;
    grid-gap: 52px;
    padding: 58px 0 65px;
    .my--victory--card {
      z-index: 1;
      position: relative;
      background-image: url("../../assets/images/victoryLosePage/victory-card-back.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      max-height: 238px;
      .my--victory--card--content {
        display: grid;
        grid-template-columns: 158px 1fr;
        grid-gap: 30px;
        padding: 40px;
        clip-path: polygon(
          0% 15px,
          15px 0%,
          calc(100% + 1px) 0%,
          calc(100% + 1px) calc(100% - 15px),
          calc(100% - 15px) calc(100% + 1px),
          0% calc(100% + 1px)
        );
        .polymorph--img {
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 3px;
          }
        }
        .my--victory--card--options {
          > h3 {
            font-family: $orbitronFont;
            font-style: normal;
            font-weight: 800;
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;
            color: $white;
            margin: 0;
            margin-bottom: 20px;
            @include sm {
              font-size: 10px;
              margin-bottom: 13px;
            }
          }
          .details {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 10px;
            background: rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            padding: 20px;
            > div {
              display: flex;
              justify-content: space-between;
              align-items: center;
              > p {
                margin: 0;
              }
              :first-child {
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                color: rgba(255, 255, 255, 0.6);
                @include sm {
                  font-size: 12px;
                }
              }
              &.attack {
                margin-bottom: 0;
              }
              :last-child {
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                text-align: right;
                color: $white;
                margin-left: 10px;
                @include sm {
                  font-size: 12px;
                }
              }
            }
            @include sm {
              padding: 9px 13px;
              grid-gap: 8px;
            }
          }
        }
        @include sm {
          grid-template-columns: 106px 1fr;
          padding: 25px;
          grid-gap: 14px;
        }
      }
      @include sm {
        background-size: contain;
      }
    }
    .opponent--victory--card {
      z-index: 1;
      position: relative;
      max-height: 238px;
      .opponent--victory--card--content {
        display: grid;
        grid-template-columns: 158px 1fr;
        grid-gap: 30px;
        padding: 40px;
        .polymorph--img {
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 3px;
          }
        }
        .opponent--victory--card--options {
          > h3 {
            font-family: $orbitronFont;
            font-style: normal;
            font-weight: 800;
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;
            color: $white;
            margin: 0;
            margin-bottom: 20px;
            @include sm {
              font-size: 10px;
              margin-bottom: 13px;
            }
          }
          .details {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 10px;
            background: rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            padding: 20px;
            > div {
              display: flex;
              justify-content: space-between;
              align-items: center;
              > p {
                margin: 0;
              }
              :first-child {
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                color: rgba(255, 255, 255, 0.6);
                @include sm {
                  font-size: 12px;
                }
              }
              &.attack {
                margin-bottom: 0;
              }
              :last-child {
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                text-align: right;
                color: $white;
                margin-left: 10px;
                @include sm {
                  font-size: 12px;
                }
              }
            }
            @include sm {
              padding: 9px 13px;
              grid-gap: 8px;
            }
          }
        }
        @include sm {
          grid-template-columns: 106px 1fr;
          padding: 25px;
          grid-gap: 14px;
        }
      }
    }
    @include md {
      grid-template-columns: 480px;
      justify-content: center;
      padding-bottom: 170px;
    }
    @include sm {
      grid-template-columns: 335px;
      justify-content: center;
      padding-bottom: 68px;
    }
  }
  .victory--page--rewords {
    position: relative;
    z-index: 2;
    .rewords--title {
      position: absolute;
      top: 0;
      // display: flex;
      // align-items: center;
      justify-content: center;
      display: grid;
      grid-template-columns: 1fr 80px 1fr;
      gap: 21px;
      .right-line {
        transform: rotate(180deg);
      }
      > h1 {
        font-family: $orbitronFont;
        font-style: normal;
        font-weight: 800;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        text-transform: uppercase;
        color: $white;
        margin-top: -7px;
      }
    }
    .rewords--content {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      padding: 30px 0 116px;
      > img {
        @include sm {
          width: 15px;
        }
      }
      > h1 {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: bold;
        font-size: 46px;
        line-height: 120%;
        text-align: right;
        color: $white;
        @include sm {
          font-size: 32px;
        }
      }
    }
  }
  .victory--buttons--section {
    z-index: 2;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    .battlegrounds--button {
      position: relative;
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: 500;
      display: flex;
      align-items: center;
      text-align: center;
      padding: 12px 24px;
      border-radius: 3px 14px;
      background: rgba(255, 255, 255, 0.1);
      clip-path: polygon(0% 0%, calc(100% - 12px) 0%, 100% 12px, 100% 100%, 12px 100%, 0% calc(100% - 12px));
      font-size: 16px;
      line-height: 20px;
      color: $white;
    }
    @include sm {
      padding: 20px;
    }
  }
  @include md {
    padding: 80px 40px 40px;
    height: 100%;
  }
  @include sm {
    padding: 80px 20px 40px;
  }
}
