@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.fighter__desc__attack {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .attack__div {
    width: 100%;
    margin-left: 16px;
    .attack__head {
      display: flex;
      justify-content: space-between;
      margin-bottom: 3px;

      p {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #51c1fb;
        margin: 0%;
      }
    }
    .attack__bar {
      width: 100%;
      height: 17px;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 2px;
      clip-path: polygon(4px 0%, 100% 0%, calc(100% - 4px) 100%, 0% 100%);
      .fill__transparent {
        width: 60%;
        height: 100%;
        background: linear-gradient(180deg, rgba(96, 198, 255, 0.6) 0%, rgba(63, 187, 245, 0.6) 100%);
        border-radius: 2px;
        clip-path: polygon(4px 0%, 100% 0%, calc(100% - 4px) 100%, 0% 100%);

        .filled {
          width: 66%;
          height: 100%;
          background: linear-gradient(180deg, #60c6ff 0%, #3fbbf5 100%);
          border-radius: 2px;
          clip-path: polygon(4px 0%, 100% 0%, calc(100% - 4px) 100%, 0% 100%);
          box-shadow: 0px 0px 10px rgba(77, 192, 250, 0.4), inset 0px 1px 1px rgba(255, 255, 255, 0.3);
        }
      }
    }
  }
}
